body {
    color: #797979;
    /*font-family: 'Lato', sans-serif;*/
    padding: 0px !important;
    margin: 0px !important;
    font-size: 14px;
    font-family: Roboto;
    background: url("../img/bg/bg-1.jpg") repeat-y;
}
.ml12 {
    color: #fff;
    position: fixed;
    margin-top: 60px;
    font-weight: 200;
    font-size: 1.8em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.ml12 .letter {
    display: inline-block;
    line-height: 1em;
}
.m-page--loading .m-page-loader.m-page-loader--base{
    background-color: #d35400 !important;
}
.sk-folding-cube {
    margin: 20px auto;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); 
}
.sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s; 
}
.sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
    0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0; 
    } 25%, 75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1; 
    } 90%, 100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0; 
    } 
}

@keyframes sk-foldCubeAngle {
    0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0; 
    } 25%, 75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1; 
    } 90%, 100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0; 
    }
}
a,a:hover,a:focus {
    text-decoration: none !important;
    outline: none !important;
}
.muni_img{
    width: 199px;
    height: 182px;
    background: url("../img/logo_muni.png") no-repeat;
    background-size: 199px 182px;
    margin-left: 0px !important;
}
.ajaxLoading, .ajaxLoading * {   
    cursor: progress !important;  
}  
.maxw245{
    max-width: 245px !important;
}
.h114{
    height: 114px !important;
}
.wd220{
    width: 220px;
}
.minw285{
    min-width: 285px !important;
}
.w285{
    width: 285px !important;
}
.maxw220{
    max-width: 220px
}
.maxw300{
    max-width: 300px;
    margin: 0 auto;
}
.minw220{
    min-width: 220px
}
.minw150{
    min-width: 150px !important;
}
.minw141{
    min-width: 141px !important;
}
.minw320{
    min-width: 320px !important;
}
.marLeft25perc{
    margin-left: 25% !important;
}
.cursor-p{
    cursor: pointer;
}
.pos-abs{
    position: absolute !important;
}
.dis-block{
    display: block !important;
}
.mar-50{
    margin: 50px;
}
.text-left-new{
    text-align: left !important;
}
.w100perc{
    width: 100%;
}
.text-center{
    text-align: center;
}
.w190{
    width: 190px;
}
.w165{
    width: 165px;
}
.w170{
    width: 170px;
}
.bold{
    font-weight: bold;
}
.fz15rem{
    font-size: 1.5rem;
}
.h42px{
    height: 42px !important;
}
.onFocusError:focus { 
    outline: none !important;
    border-color: #d9534f !important;
    box-shadow: 0 0 5px #d9534f !important;
}
@media screen and (max-width: 1337px) {
    .fixHeaderResponsive{
        margin-left: 5%;
    }
}
@media screen and (min-width: 1337px) and (max-width: 1690px){
    .fixHeaderResponsive{
        margin-left: 50px;
    }
}
.h60{
    height: 60px;
}
.h90px{
    height: 90px !important;   
}
.h400{
    height: 400px;
}
.mtop390{
    margin-top: 390px !important;
}
.mtop5{
    margin-top: 5px !important;
}
.mtop10{
    margin-top: 10px !important;
}
.mrightN10P{
    margin-right: -10%;
}
.center-image{
    display: table !important;
    margin: 0 auto;
}
.padR20px{
    padding-right: 20px !important;
}
.padR10p{
    padding-right: 10px !important;
}
.fz23rem{
    font-size: 2.3rem !important;
}
.spacing-header{
    padding: 0;
    position: relative;
    z-index: 2;
    height: 105px;
}
.icon-fas{
    font-size: 115px !important;
    padding: 0 10px !important;
}
.input-fas{
    font-size: 1em !important;
}
.icon-fas-sec{
    position: absolute;
    margin-top: 90px;
    font-size: 25px;
}
.icon-fas-arrow-back{
    font-size: 35px !important;
    margin-left: -30px !important;
    cursor: pointer;
}
.style-icon-fas-row{
    height: 345px;
}
.style-icon-fas-col{
    text-align: center;
    color: #e5791f !important;
    text-shadow: 1px 1px 2px rgba(152, 152, 152, 1);
}
.style-icon-fas-col a{
    color: #e5791f;
    height: 330px;
    display: block;
    padding: 60px 0 0 0;
    margin-top: 30px;
}
.style-icon-fas-col div{
    color: #e5791f;
    height: 330px;
    display: block;
    padding: 60px 0 0 0;
    margin-top: 30px;
}
.multi-icon{
    height: 115px !important;
    padding: 0 !important;
    min-width: 225px;
    margin: 0 auto;
    margin-top: 0px !important;
}
.style-icon-fas-col:hover a{
    background: #e5791f;
    color: #ffffff;
}
.style-icon-fas-col:hover div{
    background: #e5791f;
    color: #ffffff;
}
.hover-bg-or:hover{
    background: #e5791f !important;
    color: #ffffff;
}
.icon-fas-text{
    padding: 30px 25px;
    font-size: 26px;
    font-weight: bold;
}
.cus-mleft-5px{
    margin-left: 5px !important;
}
.custom-margin-left-15px {
    margin-left: 5px !important;
}
.valign-middle{
    vertical-align: middle !important;
}
.table-header-xs-sm{
    float: left;
}
.table_header_pay {
    border: 1px solid #000 !important;
    -webkit-box-align: center;
    align-items: center;
    font-size: 15px;
    font-family: Roboto;
    word-wrap: break-word;
}
.table_header_pay>tbody>tr,.table_header_pay>tbody>tr>td, .table_header_pay>thead, .table_header_pay>thead>tr,  .table_header_pay>thead>tr>th{
    border: 1px solid #000 !important;
    vertical-align: middle !important;
}
.table_header_pay>thead>tr>th.th-separator, .table_header_pay>tbody>tr>td.border-none{
    border: none !important;
    border-top: 1px solid #fff !important;
    border-bottom: 1px solid #fff !important;
    background-color: white !important;
}
.table_header_pay td{
    max-width: 301px;
}
.table_header_pay thead{
    background-color: #FCA045;
    font-weight: bold;
}
.table_header_pay td:nth-child(2), .table_header_pay td:nth-child(5){
    text-align: left;
    color:#000;
    font-weight:500;
    background-color: #fff;
}
.table_header_pay td:nth-child(1), .table_header_pay td:nth-child(4){
    color: #000;
    font-weight:500;
    text-shadow:none;
    background-color: #fff;   
}
.table_header_pay th{
    text-align: center; 
    color: #fff;
    text-shadow: 0px 0px 3px #000000;
}
.table_pay_detail{
    border: 1px solid #000 !important;
    -webkit-box-align: center;
    align-items: center;
    font-size: 15px;
    font-family: Roboto;
    word-wrap: break-word;
}
.table_pay_detail th{
    text-align: center; 
    color: #fff;
    text-shadow: 0px 0px 3px #000000;
    vertical-align: middle !important;
}
.table_pay_detail>tbody>tr,.table_pay_detail>tbody>tr>td, .table_pay_detail>thead, .table_pay_detail>thead>tr,  .table_pay_detail>thead>tr>th{
    border: 1px solid #000 !important;
    vertical-align: middle !important;
}
.table_pay_detail>tbody>tr>td.td-separator{
    background: none;
    border-left: 1px solid #fff !important;
    border-right: 1px solid #fff !important;
}
.table_pay_detail>tbody>tr>td.table-checkbox{
    max-width: 30px !important;
    width: 30px;
    margin: 0 !important;
}
.table_pay_detail thead{
    background-color: #FCA045;
    font-weight: bold;
}
.table_pay_detail>tbody>tr>td{
    background-color: transparent;
    text-align: right;
}
.table_pay_detail td:nth-child(5){
    /*width: 27px !important;*/
    /*max-width: 27px !important;*/
    padding: 1px 10px;
    text-align:center;
}

.content-botones {background: #fff;padding: 12px 12px;border: 2px #FCA045 solid;box-shadow: none !important;}
.content-botones .table_pay_bottom_color {text-shadow:none;color:#000;font-size:14px;background:none!important;}
.content-botones button {margin-right:15px;border-radius:0;}

.checkboxCalc {width:12px;display:inline-block;}
.table_pay_detail th:nth-child(5){
    /*width: 27px !important;*/
    /*max-width: 27px !important;*/
}

.table_pay_detail>tbody>tr.border-none, .table_pay_detail>tbody>tr>td.border-none{
    border: none !important;
}
.border-none{
    border: none !important;
}
.table_pay_bottom_color{
    color: #fff;
    text-shadow: 0px 0px 3px #000000;
    background-color: #FCA045 !important;
    border: none !important
}
.table_pay_bottom_fixed_lg{
    position: fixed;
    z-index: 9;
    bottom: 25px;
    height: auto;
    text-align: center;
    margin: 0 !important;
    width: auto !important;
    right: 1.5%;
}

.table_pay_bottom_fixed{
    position: fixed;
    z-index: 9;
    bottom: 0;
    height: 50px;
    text-align: center;
    width: 100%;
    margin: 0 !important;
}

.table_pay_bottom_fixed>div>div, .table_pay_bottom_fixed_lg>div>div{
    -webkit-box-shadow: 0px -2px 5px 0px rgba(105,94,105,1);
    -moz-box-shadow: 0px -2px 5px 0px rgba(105,94,105,1);
    box-shadow: 0px -2px 5px 0px rgba(105,94,105,1);
}

.styled{
    -ms-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
}

.table_pay_detail>thead>tr>th.brnone{
    border-right: none !important;
    padding: 5px;
}

.table_pay_detail>thead>tr>th.blnone{
    border-left: none !important;
    padding: 5px;
}

#ui-datepicker-div {
    display: none;
    background-color: #fff;
    box-shadow: 0 0.125rem 0.5rem rgba(0,0,0,0.1);
    margin-top: 0.25rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.ui-datepicker-calendar thead th {
    padding: 0.25rem 0;
    text-align: center;
    font-size: 0.75rem;
    font-weight: 400;
    color: #78909C;
}
.ui-datepicker-calendar tbody td {
    width: 30px;
    font-size:14px;
    text-align: center;
    padding: 0;
    color:#546E7A;
}
.ui-datepicker-calendar tbody td a {
    display: block;
    border-radius: 0.25rem;
    line-height: 2rem;
    transition: 0.3s all;
    color: #000;
    font-size: 14px;
    text-decoration: none;
}
.ui-datepicker-calendar tbody td a:hover {  
    background-color: #E0F2F1;
}
.ui-datepicker-calendar tbody td a.ui-state-active {
    background-color: #FCA045;
    color: white;
}
.ui-datepicker-header a.ui-corner-all {
    cursor: pointer;
    position: absolute;
    top: 0;
    width: 2rem;
    height: 2rem;
    margin: 0.5rem;
    border-radius: 0.25rem;
    transition: 0.3s all;
}
.ui-datepicker-header a.ui-corner-all:hover {
    background-color: #ECEFF1;
}
.ui-datepicker-header a.ui-datepicker-prev {    
    left: 0;    
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDEzIDEzIj48cGF0aCBmaWxsPSIjNDI0NzcwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03LjI4OCA2LjI5NkwzLjIwMiAyLjIxYS43MS43MSAwIDAgMSAuMDA3LS45OTljLjI4LS4yOC43MjUtLjI4Ljk5OS0uMDA3TDguODAzIDUuOGEuNjk1LjY5NSAwIDAgMSAuMjAyLjQ5Ni42OTUuNjk1IDAgMCAxLS4yMDIuNDk3bC00LjU5NSA0LjU5NWEuNzA0LjcwNCAwIDAgMS0xLS4wMDcuNzEuNzEgMCAwIDEtLjAwNi0uOTk5bDQuMDg2LTQuMDg2eiIvPjwvc3ZnPg==");
    background-repeat: no-repeat;
    background-size: 0.5rem;
    background-position: 50%;
    transform: rotate(180deg);
}
.ui-datepicker-header a.ui-datepicker-next {
    right: 0;
    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDEzIDEzIj48cGF0aCBmaWxsPSIjNDI0NzcwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03LjI4OCA2LjI5NkwzLjIwMiAyLjIxYS43MS43MSAwIDAgMSAuMDA3LS45OTljLjI4LS4yOC43MjUtLjI4Ljk5OS0uMDA3TDguODAzIDUuOGEuNjk1LjY5NSAwIDAgMSAuMjAyLjQ5Ni42OTUuNjk1IDAgMCAxLS4yMDIuNDk3bC00LjU5NSA0LjU5NWEuNzA0LjcwNCAwIDAgMS0xLS4wMDcuNzEuNzEgMCAwIDEtLjAwNi0uOTk5bDQuMDg2LTQuMDg2eiIvPjwvc3ZnPg==');
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: 50%;
}
.ui-datepicker-header a>span {
    display: none;
}
.ui-datepicker-title {
    text-align: center;
    line-height: 2rem;
    margin-bottom: 0.25rem;
    font-size: 0.875rem;
    font-weight: 500;
    padding-bottom: 0.25rem;
}
.ui-datepicker-week-col {
    color: #78909C;
    font-weight: 400;
    font-size: 0.75rem;
}

.wrapper {
    max-width: 100%;
    padding:0;
    margin-left: auto;
    margin-right: auto;
}
label {
    font-size: 12px;
    font-weight: 400;
    display: block;
    margin-bottom: 0.5rem;
    color: #000;
    border: 1px #FADCB8 solid;
    padding: 0;
    border-radius: 0;
}
input {
    font-family: 'Roboto', sans-serif;
    display:block;
    border: none;
    border-radius: 0.25rem;
    border: 1px solid transparent;
    line-height: 1.5rem;
    padding: 0;
    font-size: 1rem;
    color: #607D8B;
    width: 100%;
    margin-top: 0.5rem;
}
label input {padding: 5px 10px;text-align: center;line-height: normal;}
input:focus {outline: none;}